body{
    background-color: #EDF6F9;
}
.contenedorTitulo {
    
    color: rgb(0, 0, 0);
}
textarea:focus, input:focus, input[type]:focus {
    border-color: rgb(10, 100, 0);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(10, 100, 0, 0.6);
    outline: 0 none;
}

textarea {
    
    resize:none;
    

}
.noSaltoLinea{
    display:inline;
}

h1,h4,h5{
    border-radius: 7px;
}