.contenedorTitulo {
    
    color: rgb(0, 0, 0);
    
}
textarea {
    
    resize:none;
    

}
.titulo{
    margin-top: 100px;
}


h1,h4,h5{
    border-radius: 7px;
}
body{
    background-color: #EDF6F9;
}
/* textarea:focus, input:focus, input[type]:focus {
    border-color: rgb(255, 208, 1);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255, 225, 1, 0.798);
    outline: 0 none;
} */
/* option:hover, .form-control:focus, .custom-select:focus, .custom-control-input:focus , .custom-control-label::before,
.custom-control-input:focus , .custom-control-label::before {
border-color: #ffd900;
box-shadow: 0 0 0 0.2rem rgba(255, 204, 0, 0.4);
} */

.noSaltoLinea{
    display:inline;
}

#titulo{
    text-align: center;
}

h1{
    text-align: center;
    font-family: thewestgate;
    font-size: 3.8rem;
    user-select: none;
    color: #006D77;
    margin-block: 0.5rem;
    padding-top: 0.5rem;
}

#cajaMenu{
    margin: auto;
    width: 22rem;
    background-color: #83C5BE;
    border-radius: 3rem;
    margin-bottom: 3rem;
}

/*reponsivo*/
#cajaMenu h1{
    font-size: 2rem;
}

#cajaMenu{
    margin: auto;
    width: 15rem;
    background-color: #83C5BE;
    border-radius: 3rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px){
    #cajaMenu{
        width: 26rem;
    }

    #cajaMenu h1{
        font-size: 3.8rem;
    }
}

#titulo{
text-align: center;

}

/*MENOR A 768*/
#titulo img{
    margin-top: 1rem;
    width: 220px;
}

/*ANTES DE LLEGAR A 768*/
@media (min-width: 768px){
    #titulo img{
        width: 500px;
    }
}