<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
</head>
<body>
    <header>
        <section>
            <h2>Bienvenido al centro de ayuda de Rotiseria El Mejor Sabor</h2>
        </section>
    </header>
    <section>
        <h4>Enviar Mensaje</h4>
        <small>Consulte los diversos inconveniente que pueda llegar a tener para brindarle la mejor ayuda 
            y de forma especifica
        </small> <br>
        <small>Los campos que tenga los simbolos (*) son obligatorios</small>
    </section>
    <div> <br>
        <label for="nombre">(*) Nombre:</label> <br>
        <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" required="" size="30" maxlength="30">

    </div>
    <div>
        <br>
        <label for="telefono">Telefono:</label> <br>
        <input type="number" name="telefono" id="telefono" placeholder="Telefono">

    </div>
    <div>
        <br>
        <label for="correoElectronico">Correo Electronico</label> <br>
        <input type="email" name="correoElectronico" id="correoElectronico" placeholder="Correo Electronico">
    </div>
    <div>
        <br>
        <label for="mensaje">Mensaje</label> <br>
        <textarea name="mensaje" id="mensaje" cols="50" rows="20"></textarea>
    </div>

    <div>
        <br>
        <small>Recordar revisar todos los campos antes de guardar</small> <br> <br>
        <input type="submit" name="enviar" value="Enviar">  &nbsp;
        <input type="reset" name="reset" value="Cancelar">
    </div>

    <footer>
        <div>
            <nav class="menuEnlace">
                <ul>
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../navegacion/sobreNosotros.html">Sobre nosotros</a></li>
                  <li><a href="../navegacion/contacto.html">Contacto</a></li>
                  
                </ul>
            </nav>
        </div>
        <div>
            <small>Rositeria EL MEJOR SABOR 2022</small> <br>
            <small>Todos los derechos reservados</small>
        </div>
    </footer>
</body>
</html>