<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ingresar</title>
        <link rel="icon" href="../../Template/Resources/Logos/iconRotiseria.png">
        <script src="https://kit.fontawesome.com/4697645f5f.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../../Css/login.css">
        <link rel="stylesheet" href="../../Css/footerNavegacion.css">
    </head>
    <body>

        <section class="vh-140" id="filtroFondo">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <h3 class="mb-4">Ingresar</h3>
                      
                      <form action="#" method="post" autocomplete="on" class="needs-validation" novalidate>
                        <div class="form-outline mb-3">
                            <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Ingrese su email" required=""/>
                            <div class="valid-feedback">El valor ingresado es valido</div>
                            <div class="invalid-feedback">Ingrese un Email</div>
                            <label class="form-label" for="typeEmailX-2">Email</label>
                            
                        </div>
              
                        <div class="form-outline mb-3">
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Ingrese su contraseña" required=""/>
                            <div class="valid-feedback">El valor ingresado es valido</div>
                            <div class="invalid-feedback">Ingrese una Contraseña</div>
                            <label class="form-label" for="typePasswordX-2">Contraseña</label>
                        </div>
    
                          <div class="mb-4">
                            <a href="recuperarContraseña.html">¿Olvidó su contraseña?</a>
                          </div>
                          
                          <button class="btn btn-primary" id="botonLogin" type="submit">Ingresar</button><br>
                          <label class="form-label">o</label><br>
                          <a href="../abm-cliente/altaCliente.html" class="btn btn-primary">Crea una cuenta</a>
    
                          <hr class="my-4">
                          <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                            type="submit"><i class="fab fa-google me-2"></i>Continuar con google</button>
                            <br><br>
                          <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                            type="submit"><i class="fab fa-facebook-f me-2"></i>Continuar con facebook</button>
                      </form>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>  
        </section>

        <footer>
            <div class="text-bg-dark  text-center">
                <br>
                <small>Rositeria EL MEJOR SABOR 2022</small> <br>
                <small>Todos los derechos reservados</small>
                <br> <br>
            </div>
        </footer>
    </body>
    <script src="../../js/validacionBootstrap.js"></script>
</html>