<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nosotros</title>
        <link rel="icon" href="../Resources/Logos/iconRotiseria.png"> 
    </head>
    <body>
        <header>
            <h1><strong>¿Quienes somos?</strong></h1>
            <img src="../Resources/vianda.jpg" alt="Imagen de vianda" title="Vianda" width="350">
        </header>

        <div>
            <p>Somos <b>ROTISERIA EL MEJOR SABOR</b> una empresa destacada en el rubro gastronómico por la elaboración 
            de la mejor comida casera.</p>
            <p>Teniendo como prioridad fundamental la calidad y el control permanente de los productos manejados 
                , brindar la mejor atencion personalizada y los precios mas bajos del mercado.
            </p>
            <p>
                Nuestros platos se elaboran al momento de ser solicitados, lo que garantiza los sabores y calidad inigualables
            </p>
        </div>

        <footer>
            <div>
                <nav class="menuEnlace">
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                      
                      <li><a href="contacto.html">Contacto</a></li>
                      <li><a href="ayuda.html">Ayuda</a></li>
                    </ul>
                </nav>
            </div>

            <div>
                <small>Rositeria EL MEJOR SABOR 2022</small> <br>
                <small>Todos los derechos reservados</small>
            </div>
        </footer>
    </body>
</html>