<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Resources/Logos/iconRotiseria.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/header-footer.css">
    <link href="../../css/admin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <title>Administrador</title>
</head>
<body>
    <header>
        <!--ENCABEZADO DE NAVEGACION-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top col-primary">
            <div class="container-fluid">
                <a href="index.html">
                <img src="../Resources/Logos/rotiseria.png" alt="icono principal" id="logo"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pedidos</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Pendientes</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" href="pedido.html">Agregar</a></li>
                                    <li><a class="dropdown-item" href="historial-pedidos.html">Historial</a></li>
                                </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../admin/estadisticas.html">Estadisticas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administrar Menús</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="../abm-menu/altaMenu.html">Registrar un menú</a></li>
                                    <li><a class="dropdown-item" href="../abm-menu/modificarMenu.html">Modificar un menú</a></li>
                                    <li><a class="dropdown-item" href="../abm-menu/bajaMenu.html">Eliminar un menú</a></li>
                                </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administrar Cadetes</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="../abm-cadete/altaCadete.html">Registrar un cadete</a></li>
                                    <li><a class="dropdown-item" href="../abm-cadete/modificarCadete.html">Modificar un cadete</a></li>
                                    <li><a class="dropdown-item" href="../abm-cadete/bajaCadete.html">Eliminar un cadete</a></li>
                                </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administrar Clientes</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="../abm-cliente/altaCliente.html">Registrar un cliente</a></li>
                                    <li><a class="dropdown-item" href="../abm-cliente/modificarCliente.html">Modificar un cliente</a></li>
                                    <li><a class="dropdown-item" href="../abm-cliente/bajaCliente.html">Eliminar un cliente</a></li>
                                </ul>
                        </li>
                    </ul>
                    
                    <form class="d-flex notificaciones">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi bi-bell-fill"></i>
                        Notificaciones
                    </button>
                    </form>
    
                    <ul class="navbar-nav micuenta">
                    <li class="nav-item dropdown">
                        <button class="btn btn-light dropdown-toggle" id="navbarDropdown" type="submit" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                            Administrador
                        </button>   
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="index.html">Salir</a>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div id="titulo">
            <img src="../Resources/Logos/titulo.png" alt="titulo_rotiseria">
        </div>
        <div class="container-fluid">
            <section class="panelMenus swiper mySwiper" id="entrada">
                <br>
                <h2 id="labelMenus">Pedidos Pendientes</h2>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper content">
                        <div class="swiper-slide card h-100">
                            <div class="card-body p-4">
                                <div class="menusComprados">
                                    <form id="formulario">
                                        <br>
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label dropdown">
                                                <i class="bi bi-box-seam"></i>
                                                <label for="exampleFormControlTextarea1" class="form-label dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Pedido</label>
                                                <ul class="dropdown-menu">
                                                    <li><h6 class="text-center">Código: 13479</h6></li>
                                                    <li><h6 class="text-center">Fecha: 07/09/2022</h6></li>
                                                    <li><h6 class="text-center">Hora: 15:38</h6></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" id="textAreaMenu" rows="3" style="resize: none;" readonly>Tarta de choclo x3, Medallones de pescado x12</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <i class="bi bi-person-badge-fill"></i>
                                                <label for="exampleInputPassword1" class="form-label">Cliente</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputA" value="Gabriel Avellaneda" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <i class="bi bi-geo-alt-fill"></i>
                                                <label for="exampleInputPassword1" class="form-label">Domicilio</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" id="textAreaMenu" rows="3" style="resize: none;" readonly>La Carrera Fray Mamerto Esquiu</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <i class="bi bi-bag-check-fill"></i>
                                                <label for="exampleInputPassword1" class="form-label">Tipo Entrega</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputA" value="Envío a domicilio" readonly>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <i class="bi bi-arrow-repeat"></i>
                                        <label for="exampleInputPassword1" class="form-label">Estado:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="inputA" value="Pendiente" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-form-label">
                                        <i class="bi bi-clock-fill"></i>
                                        <label for="exampleInputPassword1" class="form-label">T. demora aprox:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="inputA" placeholder="En minutos...">
                                    </div>
                                </div>
                                <br>
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Aceptar</a></div>
                            </div>
                        </div>
                        <div class="swiper-slide card h-100">
                            <div class="card-body p-4">
                                <div class="menusComprados">
                                    <form id="formulario">
                                        <br>
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label dropdown">
                                                <i class="bi bi-box-seam"></i>
                                                <label for="exampleFormControlTextarea1" class="form-label dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Pedido</label>
                                                <ul class="dropdown-menu">
                                                    <li><h6 class="text-center">Código: 42000</h6></li>
                                                    <li><h6 class="text-center">Fecha: 26/03/2010</h6></li>
                                                    <li><h6 class="text-center">Hora: 18:59</h6></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" id="textAreaMenu" rows="3" style="resize: none;" readonly>Helado de chocolate x5</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <i class="bi bi-person-badge-fill"></i>
                                                <label for="exampleInputPassword1" class="form-label">Cliente</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputA" value="Joze Figueroa" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <i class="bi bi-geo-alt-fill"></i>
                                                <label for="exampleInputPassword1" class="form-label">Domicilio</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" id="textAreaMenu" rows="3" style="resize: none;" readonly>Capital S.F.V.C</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <i class="bi bi-bag-check-fill"></i>
                                                <label for="exampleInputPassword1" class="form-label">Tipo Entrega</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputA" value="Retira en el local" readonly>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <i class="bi bi-truck"></i>
                                        <label for="exampleInputPassword1" class="form-label">Estado:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="inputA" value="En camino" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-form-label">
                                        <i class="bi bi-clock-fill"></i>
                                        <label for="exampleInputPassword1" class="form-label">T. demora aprox:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="inputA" placeholder="En minutos..." value="135" disabled>
                                    </div>
                                </div>
                                <br>
                                <div class="text-center"><a class="btn btn-outline-warning mt-auto disabled" href="#">En camino</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </section>
        </div>
    </div>
    

    <footer>
        <br>
        <div>
            <nav class="menuEnlace">
                <ul class="breadcrumb" id="navFooter">
                    <li><img src="../Resources/Logos/iconRotiseria.png" alt="icono" id="icono"></li>
                    <li><a class="navbar-brand" href="../index.html">Inicio</a></li>
                    <li><a class="navbar-brand" href="../navegacion/sobreNosotros.html">Sobre nosotros</a></li>
                    <li><a class="navbar-brand" href="../navegacion/contacto.html">Contacto</a></li>
                    <li><a class="navbar-brand" href="../navegacion/ayuda.html">Ayuda</a></li>
                </ul>
            </nav>
        </div>
        <div id="labelFooter">
            <small>Rositeria EL MEJOR SABOR 2022</small> <br>
            <small>Todos los derechos reservados</small>
        </div>
        <br>
    </footer>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../../js/sliderMenu.js"></script>
</body>
</html>