<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eliminar Cadete</title>
        <link rel="icon" href="../Resources/ImagenesCadete/eliminarRepartidorIcon.png">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="../../css/cadete.css">
        <link rel="stylesheet" href="../../css/header-footer.css">
    </head>
    <body>
        <div class="jumbotron text-center my-3 contenedorTitulo" style="margin-bottom:0">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light fixed-top col-primary">
                    <div class="container-fluid">
                        <a href="index.html">
                        <img src="../Resources/Logos/rotiseria.png" alt="icono principal" id="logo"/>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menús</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#entrada">Todos los menús</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" href="#labelMenu">Entrada de mesa</a></li>
                                        <li><a class="dropdown-item" href="#platoprincipal">Plato Principal</a></li>
                                        <li><a class="dropdown-item" href="#postre">Postre</a></li>
                                    </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menús</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#entrada">Todos los menús</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" href="#labelMenu">Entrada de mesa</a></li>
                                        <li><a class="dropdown-item" href="#platoprincipal">Plato Principal</a></li>
                                        <li><a class="dropdown-item" href="#postre">Postre</a></li>
                                    </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menús</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#entrada">Todos los menús</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" href="#labelMenu">Entrada de mesa</a></li>
                                        <li><a class="dropdown-item" href="#platoprincipal">Plato Principal</a></li>
                                        <li><a class="dropdown-item" href="#postre">Postre</a></li>
                                    </ul>
                            </li>
                            </ul>
                            <form class="d-flex buscador">
                            <input class="form-control me-2" type="search" placeholder="Buscar un menú" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                            </form>
                            <form class="d-flex notificaciones">
                            <button class="btn btn-outline-light" type="submit">
                                <i class="bi bi-bell-fill"></i>
                                Notificaciones
                            </button>
                            </form>
                            <form class="d-flex carrito">
                                <button class="btn btn-outline-light" type="submit">
                                    <i class="bi-cart-fill me-1"></i>
                                    Carrito
                                    <span class="badge bg-danger text-light ms-1 rounded-pill">0</span>
                                </button>
                            </form>
            
                            <ul class="navbar-nav micuenta">
                            <li class="nav-item dropdown">
                                <button class="btn btn-light dropdown-toggle" id="navbarDropdown" type="submit" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-circle"></i>
                                    Mi Cuenta
                                </button>   
                                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="navegacion/login.html">Ingresar</a>
                                    <a class="dropdown-item" href="abm-cliente/altaCliente.html">Registrarse</a>
                                    <hr class="dropdown-divider" />
                                    <a class="dropdown-item" href="#">Configuración</a>
                                    <a class="dropdown-item" href="index.html">Salir</a>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <h1 class="text-center"><strong>Sistema de Baja de Cadete</strong>      </h1>
                
            </header>
        </div>
        
        <div class="container my-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <img src="../Resources/ImagenesCadete/eliminarRepartidorng.png" alt="Imagen de eliminar cadete" title="eliminar cadete" width="45px">
                        </div>
                        <div class="col-11">
                            <div class="row">
                                <div class="col-3">
                                    <label class="col-form-label" for="buscarCadete">Buscar cadete a eliminar: </label>
                                </div>
                                <div class="col">
                                    <input class="form-control" type="number" name="buscarCadete" id="buscarCadete" placeholder="Cuil del cadete" required="">
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-success" id="botonBuscar">Buscar</button>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="container">
                <section class="card my-5">
                    <div class="card-body">
                        <h3 class="card-header text-white bg-success mb-3 text-center">Informacion del cadete a eliminar</h3>
                    <br>
                    <div class="position-relative">
                        <table class="table table-striped ">
                            <tr class="table-success">
                                <th>Cuil</th>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Fecha de Ingreso</th>
                                <th>Vigencia carnet</th>
                                <th>datos patente</th>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <br><br>
                        <button class="btn btn-success" id="botonEliminar">Eliminar</button>
                        <input class="btn btn-secondary" type="reset" name="reset" value="Cancelar">
                    </div>
                    </div>
                    
                    
                    

                </section>
        
                
            </div>
            
        </div>
       

        <footer>
            <br>
            <div>
                <nav class="menuEnlace">
                    <ul class="breadcrumb" id="navFooter">
                        <li><img src="../Resources/Logos/iconRotiseria.png" alt="icono" id="icono"></li>
                        <li><a class="navbar-brand" href="../index.html">Inicio</a></li>
                        <li><a class="navbar-brand" href="../navegacion/sobreNosotros.html">Sobre nosotros</a></li>
                        <li><a class="navbar-brand" href="../navegacion/contacto.html">Contacto</a></li>
                        <li><a class="navbar-brand" href="../navegacion/ayuda.html">Ayuda</a></li>
                    </ul>
                </nav>
            </div>
            <div id="labelFooter">
                <small>Rositeria EL MEJOR SABOR 2022</small> <br>
                <small>Todos los derechos reservados</small>
            </div>
            <br>
        </footer>
    </body>
</html>