<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eliminar Cadete</title>
        <link rel="icon" href="../Resources/Logos/iconRotiseria.png"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="../../css/cadete.css">
        <link rel="stylesheet" href="../../css/header-footer.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light fixed-top col-primary">
                <div class="container-fluid">
                    <a href="../index.html">
                    <img src="../Resources/Logos/rotiseria.png" alt="icono principal" id="logo"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../admin/admin-login.html">Página Principal</a>
                            </li>
                        </ul>
                        </form>
                        <form class="d-flex notificaciones">
                            <button class="btn btn-outline-light" type="submit">
                                <i class="bi bi-bell-fill"></i>
                                Notificaciones
                                <span class="badge bg-danger text-light ms-1 rounded-pill">0</span>
                            </button>
                        </form>
        
                        <ul class="navbar-nav micuenta">
                        <li class="nav-item dropdown">
                            <button class="btn btn-light dropdown-toggle" id="navbarDropdown" type="submit" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i>
                                Administrador
                            </button>   
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="../index.html">Salir</a>
                            </div>
                        </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container my-5">
            <div id="titulo">
                <img src="../Resources/Logos/titulo.png" alt="titulo_rotiseria">
            </div>
            <div id="cajaMenu">
                <h1>Baja de Cadetes</h1>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center">
                                    <i class="bi bi-truck"></i>
                                    <label class="col-form-label" for="buscarMenu">Buscar cadete a eliminar: </label>
                                </div>
                                <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 my-3">
                                    <input class="form-control" type="number" name="buscarMenu" id="buscarMenu" placeholder="Codigo del cadete" required="">
                                </div>
                                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 my-3">
                                    <button class="btn btn-primary" id="botonBuscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <section class="card my-5">
                    <div class="card-body">
                        <h3 class="card-header text-white bg-dark mb-3 text-center">Informacion del cadete a eliminar</h3>
                    <br>
                    <div class="position-relative">
                        <table  class="table table-striped ">
                            <tr class="table-dark">
                                <th>Codigo</th>
                                <th>Cuil</th>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Fecha de Ingreso</th>
                                <th>Vigencia carnet</th>
                                <th>Patente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>20436131640</td>
                                <td>Aguero</td>
                                <td>Kevin</td>
                                <td>3834013177</td>
                                <td>03/05/2020</td>
                                <td>03/05/2027</td>
                                <td>NTP-671</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>23412357640</td>
                                <td>Cristian</td>
                                <td>Luna</td>
                                <td>3834013125</td>
                                <td>03/05/2018</td>
                                <td>03/05/2020</td>
                                <td>PSL-123</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    <div>
                        <br>
                        <button class="btn btn-danger" id="botonEliminar">Eliminar</button>
                        <a href="../admin/admin-login.html" type="button" class="btn btn-secondary">Cancelar</a>
                    </div>
                    </div>
                    
                </section>
        
                
            </div>
            
    

        </div>
       

        <footer>
            <br>
            <div>
                <nav class="menuEnlace">
                    <ul class="breadcrumb" id="navFooter">
                        <li><img src="../Resources/Logos/iconRotiseria.png" alt="icono" id="icono"></li>
                        <li><a class="navbar-brand" href="../index.html">Inicio</a></li>
                        <li><a class="navbar-brand" href="../navegacion/sobreNosotros.html">Sobre nosotros</a></li>
                        <li><a class="navbar-brand" href="../navegacion/contacto.html">Contacto</a></li>
                        <li><a class="navbar-brand" href="../navegacion/ayuda.html">Ayuda</a></li>
                    </ul>
                </nav>
            </div>
            <div id="labelFooter">
                <small>Rositeria EL MEJOR SABOR 2022</small> <br>
                <small>Todos los derechos reservados</small>
            </div>
            <br>
        </footer>
    </body>
</html>